/* .header {
  background-color: #3498db;
  color: #878bf2;
  text-align: center;
  padding: 20px;
} */

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #f7f8f8;
}

.tabs-container {
  position: absolute;
  top: 0;
  right: 0;
}